.side-bar
  .user-block
    .user-box
      .user-name
        hide
      .icon-box
        = link_to "#", class: "icon-box__link icon-box__link--edit" do
          = icon('fas', 'edit', class: "icon-box__link--icon")
          %span<>
        = link_to "#", class: "icon-box__link" do
          = icon('fas', 'cog', class: "icon-box__link--icon")
  .group-list
    .group-box
      .group-box__name
        techcamp
      .group-box__message
        まだメッセージはありません
    .group-box
      .group-box__name
        test
      .group-box__message
        テスト
    .group-box
      .group-box__name
        連絡用
      .group-box__message
        おはよう
